---
import type { HTMLAttributes } from "astro/types";

import { alertDialogBackdrop, alertDialogContent } from "./variants";

type Props = HTMLAttributes<"dialog"> & {
  /**
   * Open and close animation duration in milliseconds
   */
  animationDuration?: number;
};

const { class: className, animationDuration = 200, ...rest } = Astro.props;
---

<!-- dialog overlay -->
<slot name="backdrop">
  <div
    class={alertDialogBackdrop()}
    data-state="closed"
    style={{ animationDuration: `${animationDuration}ms` }}
    data-slot="alert-dialog-backdrop"
  >
  </div>
</slot>

<dialog
  class={alertDialogContent({ class: className })}
  data-state="closed"
  role="alertdialog"
  style={{ animationDuration: `${animationDuration}ms` }}
  {...rest}
  data-slot="alert-dialog-content"
>
  <slot />
</dialog>
