---
import type { HTMLAttributes } from "astro/types";

import { alertDialogTitle } from "./variants";

type Props = Omit<HTMLAttributes<"h2">, "id"> & {
  /**
   * The content to be rendered inside the dialog title
   */

  children: any;
};

const { class: className, ...rest } = Astro.props;
---

<h2 class={alertDialogTitle({ class: className })} {...rest} data-slot="alert-dialog-title">
  <slot />
</h2>
