---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = Omit<HTMLAttributes<"h2">, "id"> & {
  /**
   * The content to be rendered inside the dialog title
   */

  children: any;
};

export const alertDialogTitle = tv({ base: "font-heading text-xl font-semibold" });

const { class: className, ...rest } = Astro.props;
---

<h2 class={alertDialogTitle({ class: className })} {...rest} data-slot="alert-dialog-title">
  <slot />
</h2>
