---
import ChevronRight from "@tabler/icons/outline/chevron-right.svg";
import type { HTMLAttributes } from "astro/types";

import { breadcrumbSeparator } from "./variants";

type Props = HTMLAttributes<"li">;

const { class: className, ...rest } = Astro.props;
---

<li
  role="presentation"
  aria-hidden="true"
  class={breadcrumbSeparator({ class: className })}
  {...rest}
  data-slot="breadcrumb-separator"
>
  <slot>
    <ChevronRight />
  </slot>
</li>
