---
import type { HTMLAttributes } from "astro/types";

import { breadcrumbItem } from "./variants";

type Props = HTMLAttributes<"li">;

const { class: className, ...rest } = Astro.props;
---

<li class={breadcrumbItem({ class: className })} {...rest} data-slot="breadcrumb-item">
  <slot />
</li>
