---
import Dots from "@tabler/icons/outline/dots.svg";
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"span">;

export const breadcrumbEllipsis = tv({
  base: "flex size-6 items-center justify-center [&>svg]:size-4",
});

const { class: className, ...rest } = Astro.props;
---

<span
  role="presentation"
  aria-hidden="true"
  class={breadcrumbEllipsis({ class: className })}
  {...rest}
  data-slot="breadcrumb-ellipsis"
>
  <slot name="icon">
    <Dots />
  </slot>
  <slot>
    <span class="sr-only">More</span>
  </slot>
</span>
