---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"a"> & {
  asChild?: boolean;
};

const breadcrumbLink = tv({ base: "hover:text-foreground transition-colors" });

const { class: className, asChild = false, ...rest } = Astro.props;
---

{asChild ? (
  <slot />
) : (
  <a class={breadcrumbLink({ class: className })} {...rest}>
    <slot />
  </a>
)}
