---
import type { HTMLAttributes } from "astro/types";

import { breadcrumbPage } from "./variants";

type Props = HTMLAttributes<"span">;

const { class: className, ...rest } = Astro.props;
---

<span
  role="link"
  aria-disabled="true"
  aria-current="page"
  class={breadcrumbPage({ class: className })}
  {...rest}
  data-slot="breadcrumb-page"
>
  <slot />
</span>
