---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"li">;

const breadcrumbItem = tv({ base: "inline-flex items-center gap-1.5" });

const { class: className, ...rest } = Astro.props;
---

<li class={breadcrumbItem({ class: className })} {...rest}>
	<slot />
</li>
