---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"nav">;

const { class: className, ...rest } = Astro.props;
---

<nav aria-label="breadcrumb" class={className} data-slot="breadcrumb" {...rest}>
  <slot />
</nav>
