---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"span">;

export const breadcrumbPage = tv({ base: "text-foreground font-normal" });

const { class: className, ...rest } = Astro.props;
---

<span
  role="link"
  aria-disabled="true"
  aria-current="page"
  class={breadcrumbPage({ class: className })}
  data-slot="breadcrumb-page"
  {...rest}
>
  <slot />
</span>
