.sass-cache
.jekyll-cache
.jekyll-metadata
run.bat
btech
bca
pyqs
# Ignore all directories starting with '_'
_*/

# Don't ignore these directories
!/_drafts
!/_includes
!/_layouts
!/_posts
!/_data
!/_sass
!/assets
!/vendor
