---
import PathList from "./PathList.astro";

interface Props {
	path: string;
	parent_path: string;
}

const { path, parent_path } = Astro.props;
---

<div class="functionRow">
	<div class="backButtonContainer">
		{
			parent_path != null ? (
				<button
					class="backButton functionRowButton"
					title="Back"
					onclick={`goToUrl("${parent_path}")`}
				/>
			) : (
				<button
					class="backButton functionRowButton"
					title="Back"
					disabled
				/>
			)
		}
	</div>
	<PathList path={path} />
</div>

<style is:global>
	:root {
		--icon-up: url("/pyqs/assets/icons/up.svg");
	}

	.functionRow {
		display: flex;
		width: 100%;
		margin: 20px 0px;
		flex-flow: row;
	}
	.functionRow > div {
		margin: 10px;
	}
	.backButtonContainer {
		flex: 0 0 auto;
	}
	.toggleButtonContainer {
		flex: 0 0 auto;
	}

	.functionRowButton {
		min-width: 16px;
		border: none;
		border-radius: 0.25em;
		font-size: 12px;
		line-height: 14px;
		cursor: pointer;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		padding: 0;
		margin: 0;
		background-color: var(--highlight-color);
		transition: transform 0.2s;
	}
	.functionRowButton:hover {
		transform: scale(1.1);
		background-color: var(--highlight-hover-color);
		box-shadow: var(--box-shadow);
	}
	.functionRowButton[disabled] {
		cursor: default;
		pointer-events: none;
		opacity: 0.5;
		background-color: transparent;
		box-shadow: none;
	}

	.functionRowButton::before {
		position: absolute;
		display: inline-block;
		width: 20px;
		height: 20px;
		content: "";
		background-color: var(--text-color);
		-webkit-mask-size: cover;
		mask-size: cover;
		transition: 0.2s;
	}

	.functionRowButton > span {
		display: inline-block;
		width: 0;
		height: 0;
		overflow: hidden;
	}

	.backButton::before {
		-webkit-mask-image: var(--icon-up);
		mask-image: var(--icon-up);
	}

	/* View Transitions */
	.functionRow {
		view-transition-name: functionRow;
	}
	/* .pathList {
		view-transition-name: pathList;
	} */

	::view-transition-old(functionRow),
	::view-transition-new(functionRow) {
		mix-blend-mode: normal;
	}
</style>
