@import "layouts/header.scss", "layouts/footer.scss",
	"layouts/page_content.scss", "layouts/posts.scss";

/**
 * Pagination navbar
 */
.pagination {
	margin-bottom: $spacing-unit;
	@extend .social-media-list;
	li {
		a,
		div {
			min-width: 41px;
			text-align: center;
			box-sizing: border-box;
		}
		div {
			display: block;
			padding: $spacing-unit * 0.25;
			border: 1px solid transparent;

			&.pager-edge {
				color: $border-color-01;
				border: 1px dashed;
			}
		}
	}
}

/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
	.one-half {
		width: calc(50% - (#{$spacing-unit} / 2));
	}
}
