@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, monospace;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
