---
import type { HTMLAttributes } from "astro/types";

import { dropdownSeparator } from "./variants";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div
  class={dropdownSeparator({ class: className })}
  role="separator"
  aria-orientation="horizontal"
  {...rest}
  data-slot="dropdown-separator"
>
</div>
