---
import Check from "@tabler/icons/outline/check.svg";
import type { HTMLAttributes } from "astro/types";

import { dropdownCheckboxItem } from "./variants";

type Props = Omit<HTMLAttributes<"div">, "aria-checked" | "role"> & {
  checked?: boolean;
  closeOnClick?: boolean;
  inset?: boolean;
  disabled?: boolean;
};

const {
  class: className,
  checked = false,
  closeOnClick = false,
  inset = false,
  disabled = false,
  ...rest
} = Astro.props;
---

<div
  class={dropdownCheckboxItem({ inset, disabled, class: className })}
  role="menuitemcheckbox"
  aria-checked={checked ? "true" : "false"}
  aria-disabled={disabled ? "true" : undefined}
  tabindex={disabled ? "-1" : "0"}
  data-close-on-click={closeOnClick ? "true" : undefined}
  data-disabled={disabled ? "true" : undefined}
  data-slot="dropdown-checkbox-item"
  {...rest}
>
  <span
    class="pointer-events-none absolute right-2 flex size-4 items-center justify-center opacity-0 group-aria-checked/dropdown-item:opacity-100"
  >
    <slot name="indicator">
      <Check class="size-4" />
    </slot>
  </span>
  <slot />
</div>
