---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

const dropdownSeparator = tv({
	base: "bg-muted -mx-1 my-1 h-px",
});

const { class: className, ...rest } = Astro.props;
---

<div
	class={dropdownSeparator({ class: className })}
	role="separator"
	aria-orientation="horizontal"
	{...rest}
>
</div>
