---
import type { HTMLAttributes } from "astro/types";

import { dropdownShortcut } from "./variants";

type Props = HTMLAttributes<"span">;

const { class: className, ...rest } = Astro.props;
---

<span class={dropdownShortcut({ class: className })} {...rest}>
  <slot />
</span>
