---
import ChevronRight from "@tabler/icons/outline/chevron-right.svg";
import type { HTMLAttributes } from "astro/types";

import { dropdownItem } from "./DropdownItem.astro";

type Props = HTMLAttributes<"div"> & {
  /**
   * Whether the item is inset (has left padding)
   */
  inset?: boolean;
  /**
   * Whether the item is disabled
   */
  disabled?: boolean;
};

const { class: className, inset = false, disabled = false, ...rest } = Astro.props;
---

<div
  class={dropdownItem({ inset, disabled, class: ["starwind-dropdown-sub-trigger", className] })}
  role="menuitem"
  aria-haspopup="true"
  aria-expanded="false"
  tabindex={disabled ? "-1" : "0"}
  data-disabled={disabled ? "true" : undefined}
  data-sub-trigger
  {...rest}
  data-slot="dropdown-item"
>
  <slot />
  <ChevronRight class="ml-auto size-4" />
</div>
