---
import type { HTMLAttributes } from "astro/types";

import { dropdownLabel } from "./variants";

type Props = HTMLAttributes<"div"> & {
  /**
   * Whether the label is inset (has left padding)
   */
  inset?: boolean;
};

const { class: className, inset = false, ...rest } = Astro.props;
---

<div class={dropdownLabel({ inset, class: className })} {...rest} data-slot="dropdown-label">
  <slot />
</div>
