---
import { Image } from "astro:assets";

import DesktopLight from "@/assets/images/poster.jpeg";
import DesktopDark from "@/assets/images/poster.jpeg";
import MobileLight from "@/assets/images/poster.jpeg";
import MobileDark from "@/assets/images/poster.jpeg";
---

<div class="mb-4">
	<a target="_blank" href="https://innofusion.tech">
		<Image
			src={DesktopLight}
			alt="Banner"
			class="hidden dark:hidden md:block md:dark:hidden w-[65%] mx-auto h-auto rounded-lg"
		/>
		<Image
			src={DesktopDark}
			alt="Banner"
			class="hidden dark:hidden md:hidden md:dark:block w-[65%] mx-auto h-auto rounded-lg"
		/>
		<Image
			src={MobileLight}
			alt="Banner"
			class="block dark:hidden md:hidden md:dark:hidden w-full h-auto rounded-lg"
		/>
		<Image
			src={MobileDark}
			alt="Banner"
			class="hidden dark:block md:hidden md:dark:hidden w-full h-auto rounded-lg"
		/>
	</a>
	<!-- <span class="text-sm text-gray-500 font-excalifont"
		>Banner spots are only available to GEHU clubs</span
	> -->
</div>
