---
import { Image } from "astro:assets";

import DesktopLight from "@/assets/unstop_desktop.png";
import DesktopDark from "@/assets/unstop_desktop.png";
import MobileLight from "@/assets/unstop_mobile.png";
import MobileDark from "@/assets/unstop_mobile.png";
---

<div class="mb-4">
	<a target="_blank" href="https://gehu.in/hack">
		<Image
			src={DesktopLight}
			alt="Banner"
			class="hidden dark:hidden md:block md:dark:hidden w-full h-auto rounded-lg"
		/>
		<Image
			src={DesktopDark}
			alt="Banner"
			class="hidden dark:hidden md:hidden md:dark:block w-full h-auto rounded-lg"
		/>
		<Image
			src={MobileLight}
			alt="Banner"
			class="block dark:hidden md:hidden md:dark:hidden w-full h-auto rounded-lg"
		/>
		<Image
			src={MobileDark}
			alt="Banner"
			class="hidden dark:block md:hidden md:dark:hidden w-full h-auto rounded-lg"
		/>
	</a>
	<span class="text-sm text-gray-500"
		>Banner spots are only available to GEHU clubs</span
	>
</div>
