:root {
	--text-color: #242424;
	--highlight-color: #f7f7f7;
	--highlight-hover-color: #f0f0f0;
	--box-shadow: 0rem 0.125rem 0.375rem rgba(0, 0, 0, 0.1),
		0rem 0.5rem 1rem rgba(0, 0, 0, 0.08);

	--icon-up: url("../icons/up.svg");
	--icon-grid_view: url("../icons/grid_view.svg");
	--icon-list_view: url("../icons/list_view.svg");
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: var(--minima-text-color);
		--highlight-color: #2d2d2d;
		--highlight-hover-color: #333333;
		--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	}
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	/* width: max-content; */
}
.folder-link {
	color: var(--text-color) !important;
	padding: 1em;
	font-size: large;
	width: inherit;
	max-width: 80%;
	word-wrap: break-word;
}
li {
	margin: 10px;
}
.region {
	width: inherit;
	height: inherit;
	padding: 0.5em 1em;
	display: flex;
	align-items: center;
	justify-content: left;
	border-radius: 0.5em;
	background-color: var(--highlight-color);
	transition: transform 0.2s;
}
.region:hover {
	background-color: var(--highlight-hover-color);
	cursor: pointer;
	transform: scale(1.025);
	box-shadow: var(--box-shadow);
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.gridView {
	#fileList {
		display: flex;
		justify-content: center;
	}
	#fileList > div {
		display: flex;
		flex-wrap: wrap;
		max-width: 660px;
	}
	#fileList li {
		width: 200px;
		height: 200px;
	}
	#fileList .region {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0;
	}
	#fileList .folder-link {
		width: 180px;
		text-align: center;
		padding: 0;
		font-size: medium;
	}
	#fileList .icon svg {
		height: 75px;
		width: 75px;
	}
}

@media only screen and (max-width: 600px) {
	.gridView {
		#fileList > div {
			justify-content: center;
		}

		#fileList li {
			width: 150px;
			height: 150px;
		}
		#fileList .folder-link {
			width: 120px;
			text-align: center;
			padding: 0;
			font-size: medium;
		}
		#fileList .icon svg {
			height: 50px;
			width: 50px;
		}
	}
}

#pathList {
	flex: 1 1 auto;
	display: inline-block;
	line-height: 40px;
}
.path-link {
	display: inline;
	height: 32px;
	line-height: 32px;
	vertical-align: top;
	color: var(--text-color) !important;
	font-size: larger;
	text-decoration: none;
	padding: 0 0.25em;
	transition: transform 0.2s;
}

a.path-link {
	opacity: 1;
	padding: 0 0.5em;
	font-weight: bold;
}
.path-link:hover {
	text-decoration: none;
}
.path-link[href] {
	opacity: 0.75;
	font-weight: normal;
}
.path-link[href]:hover {
	opacity: 1;
	border-radius: 0.25em;
	background-color: var(--highlight-color);
}

#functionRow {
	display: flex;
	width: 100%;
	margin: 20px 0px;
	flex-flow: row;
}
#functionRow > div {
	margin: 10px;
}
#backButtonContainer {
	flex: 0 0 auto;
}
#toggleButtonContainer {
	flex: 0 0 auto;
}

.functionRowButton {
	min-width: 16px;
	border: none;
	border-radius: 0.25em;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-color: var(--highlight-color);
	transition: transform 0.2s;
}
.functionRowButton:hover {
	transform: scale(1.1);
	background-color: var(--highlight-hover-color);
	box-shadow: var(--box-shadow);
}
.functionRowButton[disabled] {
	cursor: default;
	pointer-events: none;
	opacity: 0.5;
	background-color: transparent;
	box-shadow: none;
}

.functionRowButton::before {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	content: "";
	background-color: var(--text-color);
	-webkit-mask-size: cover;
	mask-size: cover;
	transition: 0.2s;
}

.functionRowButton > span {
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
}

#backButton::before {
	-webkit-mask-image: var(--icon-up);
	mask-image: var(--icon-up);
}

#toggleButton::before {
	-webkit-mask-image: var(--icon-grid_view);
	mask-image: var(--icon-grid_view);
}

.gridView #toggleButton::before {
	-webkit-mask-image: var(--icon-list_view);
	mask-image: var(--icon-list_view);
}

/* View Transitions */
#functionRow {
	view-transition-name: functionRow;
}
#pathList {
	view-transition-name: pathList;
}

::view-transition-old(pathList),
::view-transition-new(pathList) {
	mix-blend-mode: normal;
}
