---
import { Card } from "@/components/starwind/card";

interface Props {
	href: string;
	title: string;
	target?: "_blank" | "_self";
}

const { href, title, target = "_self" } = Astro.props;
---

<Card
	class="relative hover:scale-[1.025] text-muted-foreground hover:text-foreground bg-muted select-none"
>
	<div class="flex flex-row gap-8 p-4">
		<div class="flex flex-col align-middle justify-center min-h-full">
			<slot />
		</div>
		<span class="text-lg">{title}</span>
	</div>
	<a
		href={href}
		target={target}
		class="absolute top-0 bottom-0 left-0 right-0"></a>
</Card>
