.post-list-heading {
	@include relative-font-size(1.75);
}

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $brand-color;
}

.post-link {
	display: block;
	@include relative-font-size(1.5);
}

.post-header {
	margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
	@include relative-font-size(2.625);
	letter-spacing: -1px;
	line-height: 1.15;

	@media screen and (min-width: $on-large) {
		@include relative-font-size(2.625);
	}
}

.post-content {
	margin-bottom: $spacing-unit;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: $spacing-unit;
	}

	h2 {
		@include relative-font-size(1.75);

		@media screen and (min-width: $on-large) {
			@include relative-font-size(2);
		}
	}

	h3 {
		@include relative-font-size(1.375);

		@media screen and (min-width: $on-large) {
			@include relative-font-size(1.625);
		}
	}

	h4 {
		@include relative-font-size(1.25);
	}

	h5 {
		@include relative-font-size(1.125);
	}
	h6 {
		@include relative-font-size(1.0625);
	}
}
