---
import type { HTMLAttributes } from "astro/types";

import { cardContent } from "./variants";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div class={cardContent({ class: className })} {...rest} data-slot="card-content">
  <slot />
</div>
