---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

const cardTitle = tv({ base: "text-3xl leading-none font-semibold tracking-tight" });

const { class: className, ...rest } = Astro.props;
---

<div class={cardTitle({ class: className })} {...rest}>
	<slot />
</div>
