---
import type { HTMLAttributes } from "astro/types";
import type { VariantProps } from "tailwind-variants";

import { card } from "./variants";

type Props = HTMLAttributes<"div"> & VariantProps<typeof card>;

const { class: className, size, ...rest } = Astro.props;
---

<div
  class={card({ size, class: className })}
  data-size={size ?? "default"}
  {...rest}
  data-slot="card"
>
  <slot />
</div>
