---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

const cardHeader = tv({ base: "flex flex-col space-y-2 p-8" });

const { class: className, ...rest } = Astro.props;
---

<div class={cardHeader({ class: className })} {...rest}>
	<slot />
</div>
