---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

export const cardDescription = tv({ base: "text-muted-foreground text-base" });

const { class: className, ...rest } = Astro.props;
---

<div class={cardDescription({ class: className })} data-slot="card-description" {...rest}>
  <slot />
</div>
