---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

export const card = tv({ base: "bg-card text-card-foreground rounded-2xl border shadow-sm" });

const { class: className, ...rest } = Astro.props;
---

<div class={card({ class: className })} data-slot="card" {...rest}>
  <slot />
</div>
