---
import type { HTMLAttributes } from "astro/types";

import { cardAction } from "./variants";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div class={cardAction({ class: className })} {...rest} data-slot="card-action">
  <slot />
</div>
