---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

export const cardFooter = tv({
  base: "bg-muted/50 flex items-center rounded-b-xl border-t p-6 group-data-[size=sm]/card:p-4",
});

const { class: className, ...rest } = Astro.props;
---

<div class={cardFooter({ class: className })} {...rest} data-slot="card-footer">
  <slot />
</div>
