.page-content {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

header {
	position: relative !important;
	width: 100% !important;
	top: 0 !important;
	height: $header-size !important;
	background-color: $header-background-color !important;
	z-index: 1000 !important;
}
.main-content {
	overflow: auto !important;
	position: absolute !important;

	top: calc($header-size + 10px) !important ;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	scrollbar-gutter: stable both-edges !important;

	display: flex !important;
	flex-flow: column !important;
}
.main-content .page-content {
	flex: 1 1 auto;
}
.main-content .site-footer {
	flex: 0 1 auto;
}

::-webkit-scrollbar {
	width: 20px;
	padding: 0;
	margin: 0;
}
::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #7f7f7f;
	-webkit-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

@media (prefers-color-scheme: dark) {
	::-webkit-scrollbar-thumb {
		background-color: #7f7f7f !important;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: #c1c1c1 !important;
	}
}
