@charset "utf-8";

// Default color scheme settings

@import "light.scss";

@import "dark.scss";

// Mode selection
// --------------

// Assign outside of the if construct to establish global variable scope

$brand-color: $lm-brand-color;
$brand-color-light: $lm-brand-color-light;
$brand-color-dark: $lm-brand-color-dark;

$site-title-color: $lm-site-title-color;

$text-color: $lm-text-color;
$background-color: $lm-background-color;
$header-background-color: $lm-header-background-color;
$code-background-color: $lm-code-background-color;

$link-base-color: $lm-link-base-color;
$link-visited-color: $lm-link-visited-color;
$link-hover-color: $lm-link-hover-color;

$border-color-01: $lm-border-color-01;
$border-color-02: $lm-border-color-02;
$border-color-03: $lm-border-color-03;

$table-text-color: $lm-table-text-color;
$table-zebra-color: $lm-table-zebra-color;
$table-header-bg-color: $lm-table-header-bg-color;
$table-header-border: $lm-table-header-border;
$table-border-color: $lm-table-border-color;

:root {
	--minima-brand-color: #{$lm-brand-color};
	--minima-brand-color-light: #{$lm-brand-color-light};
	--minima-brand-color-dark: #{$lm-brand-color-dark};

	--minima-site-title-color: #{$lm-site-title-color};

	--minima-text-color: #{$lm-text-color};
	--minima-background-color: #{$lm-background-color};
	--minima-header-background-color: #{$lm-header-background-color};
	--minima-code-background-color: #{$lm-code-background-color};

	--minima-link-base-color: #{$lm-link-base-color};
	--minima-link-visited-color: #{$lm-link-visited-color};
	--minima-link-hover-color: #{$lm-link-hover-color};

	--minima-border-color-01: #{$lm-border-color-01};
	--minima-border-color-02: #{$lm-border-color-02};
	--minima-border-color-03: #{$lm-border-color-03};

	--minima-table-text-color: #{$lm-table-text-color};
	--minima-table-zebra-color: #{$lm-table-zebra-color};
	--minima-table-header-bg-color: #{$lm-table-header-bg-color};
	--minima-table-header-border: #{$lm-table-header-border};
	--minima-table-border-color: #{$lm-table-border-color};
}

@include lm-highlight;

@media (prefers-color-scheme: dark) {
	:root {
		--minima-brand-color: #{$dm-brand-color};
		--minima-brand-color-light: #{$dm-brand-color-light};
		--minima-brand-color-dark: #{$dm-brand-color-dark};

		--minima-site-title-color: #{$dm-site-title-color};

		--minima-text-color: #{$dm-text-color};
		--minima-background-color: #{$dm-background-color};
		--minima-header-background-color: #{$dm-header-background-color};
		--minima-code-background-color: #{$dm-code-background-color};

		--minima-link-base-color: #{$dm-link-base-color};
		--minima-link-visited-color: #{$dm-link-visited-color};
		--minima-link-hover-color: #{$dm-link-hover-color};

		--minima-border-color-01: #{$dm-border-color-01};
		--minima-border-color-02: #{$dm-border-color-02};
		--minima-border-color-03: #{$dm-border-color-03};

		--minima-table-text-color: #{$dm-table-text-color};
		--minima-table-zebra-color: #{$dm-table-zebra-color};
		--minima-table-header-bg-color: #{$dm-table-header-bg-color};
		--minima-table-header-border: #{$dm-table-header-border};
		--minima-table-border-color: #{$dm-table-border-color};
	}

	@include dm-highlight;
}

$brand-color: var(--minima-brand-color);
$brand-color-light: var(--minima-brand-color-light);
$brand-color-dark: var(--minima-brand-color-dark);

$site-title-color: var(--minima-site-title-color);

$text-color: var(--minima-text-color);
$background-color: var(--minima-background-color);
$code-background-color: var(--minima-code-background-color);

$link-base-color: var(--minima-link-base-color);
$link-visited-color: var(--minima-link-visited-color);
$link-hover-color: var(--minima-link-hover-color);

$border-color-01: var(--minima-border-color-01);
$border-color-02: var(--minima-border-color-02);
$border-color-03: var(--minima-border-color-03);

$table-text-color: var(--minima-table-text-color);
$table-zebra-color: var(--minima-table-zebra-color);
$table-header-bg-color: var(--minima-table-header-bg-color);
$table-header-border: var(--minima-table-header-border);
$table-border-color: var(--minima-table-border-color);
