// Dark mode
// ---------

$dm-brand-color: #eeeeee !default;
$dm-brand-color-light: lighten($dm-brand-color, 5%) !default;
$dm-brand-color-dark: darken($dm-brand-color, 35%) !default;

$dm-site-title-color: $dm-brand-color-light !default;

$dm-text-color: #eeeeee !default;
$dm-background-color: #1c1c1c !default;
$dm-header-background-color: #161616 !default;
$dm-code-background-color: #212121 !default;

$dm-link-base-color: #7e9cf8 !default;
$dm-link-visited-color: $dm-link-base-color !default;
$dm-link-hover-color: $dm-text-color !default;

$dm-border-color-01: $dm-brand-color-dark !default;
$dm-border-color-02: $dm-brand-color-light !default;
$dm-border-color-03: $dm-brand-color !default;

$dm-table-text-color: $dm-text-color !default;
$dm-table-zebra-color: lighten($dm-background-color, 4%) !default;
$dm-table-header-bg-color: lighten($dm-background-color, 10%) !default;
$dm-table-header-border: lighten($dm-background-color, 21%) !default;
$dm-table-border-color: $dm-border-color-01 !default;

// Syntax highlighting styles should be adjusted appropriately for every "skin"
// List of tokens: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens
// Some colors come from Material Theme Darker:
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/settings/specific/darker-hc.ts
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/color-set.ts
// ----------------------------------------------------------------------------

@mixin dm-highlight {
	.highlight {
		.c {
			color: #545454;
			font-style: italic;
		} // Comment
		.err {
			color: #f07178;
			background-color: #e3d2d2;
		} // Error
		.k {
			color: #89ddff;
			font-weight: bold;
		} // Keyword
		.o {
			font-weight: bold;
		} // Operator
		.cm {
			color: #545454;
			font-style: italic;
		} // Comment.Multiline
		.cp {
			color: #545454;
			font-weight: bold;
		} // Comment.Preproc
		.c1 {
			color: #545454;
			font-style: italic;
		} // Comment.Single
		.cs {
			color: #545454;
			font-weight: bold;
			font-style: italic;
		} // Comment.Special
		.gd {
			color: #000;
			background-color: #fdd;
		} // Generic.Deleted
		.gd .x {
			color: #000;
			background-color: #faa;
		} // Generic.Deleted.Specific
		.ge {
			font-style: italic;
		} // Generic.Emph
		.gr {
			color: #f07178;
		} // Generic.Error
		.gh {
			color: #999;
		} // Generic.Heading
		.gi {
			color: #000;
			background-color: #dfd;
		} // Generic.Inserted
		.gi .x {
			color: #000;
			background-color: #afa;
		} // Generic.Inserted.Specific
		.go {
			color: #888;
		} // Generic.Output
		.gp {
			color: #555;
		} // Generic.Prompt
		.gs {
			font-weight: bold;
		} // Generic.Strong
		.gu {
			color: #aaa;
		} // Generic.Subheading
		.gt {
			color: #f07178;
		} // Generic.Traceback
		.kc {
			font-weight: bold;
		} // Keyword.Constant
		.kd {
			font-weight: bold;
		} // Keyword.Declaration
		.kp {
			font-weight: bold;
		} // Keyword.Pseudo
		.kr {
			font-weight: bold;
		} // Keyword.Reserved
		.kt {
			color: #ffcb6b;
			font-weight: bold;
		} // Keyword.Type
		.m {
			color: #f78c6c;
		} // Literal.Number
		.s {
			color: #c3e88d;
		} // Literal.String
		.na {
			color: #008080;
		} // Name.Attribute
		.nb {
			color: #eeffff;
		} // Name.Builtin
		.nc {
			color: #ffcb6b;
			font-weight: bold;
		} // Name.Class
		.no {
			color: #008080;
		} // Name.Constant
		.ni {
			color: #800080;
		} // Name.Entity
		.ne {
			color: #900;
			font-weight: bold;
		} // Name.Exception
		.nf {
			color: #82aaff;
			font-weight: bold;
		} // Name.Function
		.nn {
			color: #555;
		} // Name.Namespace
		.nt {
			color: #ffcb6b;
		} // Name.Tag
		.nv {
			color: #eeffff;
		} // Name.Variable
		.ow {
			font-weight: bold;
		} // Operator.Word
		.w {
			color: #eeffff;
		} // Text.Whitespace
		.mf {
			color: #f78c6c;
		} // Literal.Number.Float
		.mh {
			color: #f78c6c;
		} // Literal.Number.Hex
		.mi {
			color: #f78c6c;
		} // Literal.Number.Integer
		.mo {
			color: #f78c6c;
		} // Literal.Number.Oct
		.sb {
			color: #c3e88d;
		} // Literal.String.Backtick
		.sc {
			color: #c3e88d;
		} // Literal.String.Char
		.sd {
			color: #c3e88d;
		} // Literal.String.Doc
		.s2 {
			color: #c3e88d;
		} // Literal.String.Double
		.se {
			color: #eeffff;
		} // Literal.String.Escape
		.sh {
			color: #c3e88d;
		} // Literal.String.Heredoc
		.si {
			color: #c3e88d;
		} // Literal.String.Interpol
		.sx {
			color: #c3e88d;
		} // Literal.String.Other
		.sr {
			color: #c3e88d;
		} // Literal.String.Regex
		.s1 {
			color: #c3e88d;
		} // Literal.String.Single
		.ss {
			color: #c3e88d;
		} // Literal.String.Symbol
		.bp {
			color: #999;
		} // Name.Builtin.Pseudo
		.vc {
			color: #ffcb6b;
		} // Name.Variable.Class
		.vg {
			color: #eeffff;
		} // Name.Variable.Global
		.vi {
			color: #eeffff;
		} // Name.Variable.Instance
		.il {
			color: #f78c6c;
		} // Literal.Number.Integer.Long
	}
}
