---
layout: default
---

<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/pathList.css" />
</head>
<body>
	{% assign pathList = page.path| remove_first: "_" |remove: ".md" | split:
	"/" %} {% assign curPath = site.baseurl %}
	<div class="pathList">
		<a class="path-link" href="{{curPath}}/">/</a>
		<span class="path-link">></span>
		{% for path in pathList %} {% assign curPath = curPath | append: "/" |
		append: path %}
		<a class="path-link" href="{{curPath}}">{{path}}</a>
		<span class="path-link">></span>
		{% endfor %}
	</div>

	<div class="functionRow">
		<div class="back-link">
			{% if page.url != "/" %} {% assign pageTitleUrl = page.title |
			replace: " ", "%20" %}
			<a
				href='{{ site.baseurl | append:page.url | remove: pageTitleUrl | remove: "/.html" }}'
				>Back</a
			>
			{% endif %}
		</div>
		<button id="download">Download PDF</button>
	</div>
	<script>
		document
			.getElementById("download")
			.addEventListener("click", function () {
				window.open("{{page.pdf}}");
			});
	</script>
	<div id="adobe-dc-view" style="width: inherit">Loading PDF...</div>
	<script src="https://acrobatservices.adobe.com/view-sdk/viewer.js"></script>
	<script type="text/javascript">
		if (window.location.hostname == "localhost") {
			var apiKey = "60ce395d725a40d39e828d6f74e7d021"; // localhost
		} else {
			var apiKey = "3fd1410704ff487695b8429bfb993f81"; // github.io
		}
		document.addEventListener("adobe_dc_view_sdk.ready", function () {
			var adobeDCView = new AdobeDC.View({
				clientId: apiKey,
				divId: "adobe-dc-view",
			});
			adobeDCView.previewFile(
				{
					content: {
						location: {
							url: "{{page.pdf}}",
						},
					},
					metaData: { fileName: "{{page.title}}" },
				},
				{ embedMode: "IN_LINE" }
			);
		});
	</script>
</body>
