<!DOCTYPE html>
<html dir="ltr">

<head>
    {%- include custom-head.html -%}

    <link rel="stylesheet" href="{{site.baseurl}}/vendor/pdfjs/web/viewer.css" />
    <script src="{{site.baseurl}}/vendor/pdfjs/build/pdf.mjs" type="module"></script>
    <script src="{{site.baseurl}}/vendor/pdfjs/web/viewer.mjs" type="module"></script>

    <style>
        :root {
            --close-icon: url("{{site.baseurl}}/assets/icons/close.svg");
        }

        #closeButton::before {
            -webkit-mask-image: var(--close-icon);
            mask-image: var(--close-icon);
        }
    </style>
</head>

<body tabindex="1">
    <div id="outerContainer">
        <div id="sidebarContainer" class="mobileHide">
            <div id="sidebarContent">
                <div id="thumbnailView"></div>
            </div>
            <div id="sidebarResizer"></div>
        </div>
        <!-- sidebarContainer -->

        <div id="mainContainer">
            <div id="findbar" class="findbar hidden doorHanger mobileHide">
                <div id="findbarInputContainer">
                    <span class="loadingInput end">
                        <input id="findInput" class="toolbarField" title="Find" placeholder="Find in document…"
                            tabindex="91" aria-invalid="false" />
                    </span>
                    <div class="splitToolbarButton">
                        <button id="findPrevious" class="toolbarButton"
                            title="Find the previous occurrence of the phrase" tabindex="92">
                            <span>Previous</span>
                        </button>
                        <div class="splitToolbarButtonSeparator"></div>
                        <button id="findNext" class="toolbarButton" title="Find the next occurrence of the phrase"
                            tabindex="93">
                            <span>Next</span>
                        </button>
                    </div>
                </div>

                <div id="findbarOptionsOneContainer">
                    <input type="checkbox" id="findHighlightAll" class="toolbarField" tabindex="94" />
                    <label for="findHighlightAll" class="toolbarLabel">Highlight All</label>
                    <input type="checkbox" id="findMatchCase" class="toolbarField" tabindex="95" />
                    <label for="findMatchCase" class="toolbarLabel">Match Case</label>
                </div>
                <div id="findbarOptionsTwoContainer">
                    <input type="checkbox" id="findMatchDiacritics" class="toolbarField" tabindex="96" />
                    <label for="findMatchDiacritics" class="toolbarLabel">Match Diacritics</label>
                    <input type="checkbox" id="findEntireWord" class="toolbarField" tabindex="97" />
                    <label for="findEntireWord" class="toolbarLabel">Whole Words</label>
                </div>

                <div id="findbarMessageContainer" aria-live="polite">
                    <span id="findResultsCount" class="toolbarLabel"></span>
                    <span id="findMsg" class="toolbarLabel"></span>
                </div>
            </div>
            <!-- findbar -->

            <div id="secondaryToolbar" class="secondaryToolbar hidden doorHangerRight">
                <div id="secondaryToolbarButtonContainer">
                    <button id="secondaryDownload" class="secondaryToolbarButton visibleMediumView" title="Save"
                        tabindex="53" onclick="downloadPDF()">
                        <span>Save</span>
                    </button>

                    <div class="horizontalToolbarSeparator visibleMediumView"></div>

                    <button id="presentationMode" class="secondaryToolbarButton" title="Switch to Presentation Mode"
                        tabindex="54">
                        <span>Fullscreen</span>
                    </button>

                    <button id="firstPage" class="secondaryToolbarButton" title="Go to First Page" tabindex="56">
                        <span>Go to First Page</span>
                    </button>
                    <button id="lastPage" class="secondaryToolbarButton" title="Go to Last Page" tabindex="57">
                        <span>Go to Last Page</span>
                    </button>

                    <div class="horizontalToolbarSeparator"></div>
                    <button id="pageRotateCcw" class="secondaryToolbarButton mobileHide" title="Rotate Counterclockwise"
                        tabindex="59">
                        <span>Rotate Left</span>
                    </button>
                    <button id="pageRotateCw" class="secondaryToolbarButton mobileHide" title="Rotate Clockwise"
                        tabindex="58">
                        <span>Rotate Right</span>
                    </button>

                    <div class="horizontalToolbarSeparator mobileHide"></div>

                    <div id="cursorToolButtons" role="radiogroup">
                        <button id="cursorSelectTool" class="secondaryToolbarButton toggled mobileHide"
                            title="Enable Text Selection Tool" tabindex="60" role="radio" aria-checked="true">
                            <span>Text Selection Tool</span>
                        </button>
                        <button id="cursorHandTool" class="secondaryToolbarButton mobileHide" title="Enable Hand Tool"
                            tabindex="61" role="radio" aria-checked="false">
                            <span>Hand Tool</span>
                        </button>
                    </div>

                    <div class="horizontalToolbarSeparator mobileHide"></div>

                    <div id="scrollModeButtons" role="radiogroup">
                        <button id="scrollVertical" class="secondaryToolbarButton toggled"
                            title="Use Vertical Scrolling" tabindex="63" role="radio" aria-checked="true">
                            <span>Vertical Scrolling</span>
                        </button>
                        <button id="scrollHorizontal" class="secondaryToolbarButton" title="Use Horizontal Scrolling"
                            tabindex="64" role="radio" aria-checked="false">
                            <span>Horizontal Scrolling</span>
                        </button>
                    </div>

                    <div class="horizontalToolbarSeparator"></div>

                    <div id="spreadModeButtons" role="radiogroup">
                        <button id="spreadNone" class="secondaryToolbarButton toggled" title="Do not join page spreads"
                            tabindex="66" role="radio" aria-checked="true">
                            <span>Single Page</span>
                        </button>
                        <button id="spreadOdd" class="secondaryToolbarButton"
                            title="Join page spreads starting with odd-numbered pages" tabindex="67" role="radio"
                            aria-checked="false">
                            <span>Odd Spreads</span>
                        </button>
                        <button id="spreadEven" class="secondaryToolbarButton"
                            title="Join page spreads starting with even-numbered pages" tabindex="68" role="radio"
                            aria-checked="false">
                            <span>Even Spreads</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- secondaryToolbar -->

            <div class="toolbar">
                <div id="toolbarContainer">
                    <div id="toolbarViewer">
                        <div id="toolbarViewerLeft">
                            <button id="sidebarToggle" class="toolbarButton mobileHide" title="Toggle Sidebar"
                                tabindex="11" aria-expanded="false" aria-controls="sidebarContainer">
                                <span>Toggle Sidebar</span>
                            </button>
                            <div class="toolbarButtonSpacer mobileHide"></div>
                            <div class="toolbarButtonSpacer mobileHide"></div>
                            <div class="toolbarButtonSpacer mobileHide"></div>
                            <button id="viewFind" class="toolbarButton mobileHide" title="Find in Document"
                                tabindex="12" aria-expanded="false" aria-controls="findbar">
                                <span>Find</span>
                            </button>
                            <div class="toolbarButtonSpacer mobileHide"></div>
                            <div class="splitToolbarButton hiddenSmallView">
                                <button class="toolbarButton" title="Previous Page" id="previous" tabindex="13">
                                    <span>Previous</span>
                                </button>
                                <div class="splitToolbarButtonSeparator"></div>
                                <button class="toolbarButton" title="Next Page" id="next" tabindex="14">
                                    <span>Next</span>
                                </button>
                            </div>
                            <div class="toolbarButtonSpacer"></div>
                            <span class="loadingInput start">
                                <input type="number" id="pageNumber" class="toolbarField" title="Page" value="1" min="1"
                                    tabindex="15" autocomplete="off" />
                            </span>
                            <span id="numPages" class="toolbarLabel"></span>
                        </div>
                        <div id="toolbarViewerMiddle">
                            <div class="splitToolbarButton">
                                <button id="zoomOut" class="toolbarButton" title="Zoom Out" tabindex="21">
                                    <span>Zoom Out</span>
                                </button>
                                <div class="splitToolbarButtonSeparator"></div>
                                <button id="zoomIn" class="toolbarButton" title="Zoom In" tabindex="22">
                                    <span>Zoom In</span>
                                </button>
                            </div>
                            <span id="scaleSelectContainer" class="dropdownToolbarButton">
                                <select id="scaleSelect" title="Zoom" tabindex="23">
                                    <option id="pageAutoOption" title="" value="auto" selected="selected">
                                        Automatic
                                    </option>
                                    <option id="pageActualOption" title="" value="page-actual">
                                        Actual Size
                                    </option>
                                    <option id="pageFitOption" title="" value="page-fit">
                                        Fit Page
                                    </option>
                                    <option id="pageWidthOption" title="" value="page-width">
                                        Fill Page
                                    </option>
                                    <option id="customScaleOption" title="" value="custom" disabled="disabled"
                                        hidden="true" data-l10n-args='{ "scale": 0 }'>
                                        0%
                                    </option>
                                    <option title="" value="0.5" data-l10n-args='{ "scale": 50 }'>
                                        50%
                                    </option>
                                    <option title="" value="0.75" data-l10n-args='{ "scale": 75 }'>
                                        75%
                                    </option>
                                    <option title="" value="1" data-l10n-args='{ "scale": 100 }'>
                                        100%
                                    </option>
                                    <option title="" value="1.25" data-l10n-args='{ "scale": 125 }'>
                                        125%
                                    </option>
                                    <option title="" value="1.5" data-l10n-args='{ "scale": 150 }'>
                                        150%
                                    </option>
                                    <option title="" value="2" data-l10n-args='{ "scale": 200 }'>
                                        200%
                                    </option>
                                    <option title="" value="3" data-l10n-args='{ "scale": 300 }'>
                                        300%
                                    </option>
                                    <option title="" value="4" data-l10n-args='{ "scale": 400 }'>
                                        400%
                                    </option>
                                </select>
                            </span>
                        </div>
                        <div id="toolbarViewerRight">
                            <button id="download" class="toolbarButton mobileHide" title="Save" tabindex="42"
                                onclick="downloadPDF()">
                                <span>Download</span>
                            </button>

                            <button id="secondaryToolbarToggle" class="toolbarButton" title="Tools" tabindex="43"
                                aria-expanded="false" aria-controls="secondaryToolbar">
                                <span>Tools</span>
                            </button>
                            <div class="splitToolbarButtonSeparator mobileHide"></div>
                            <button id="closeButton" class="toolbarButton" title="Close" tabindex="44"
                                onClick="closePage()">
                                <span>Close</span>
                            </button>
                        </div>
                    </div>
                    <div id="loadingBar">
                        <div class="progress">
                            <div class="glimmer"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="viewerContainer" tabindex="0" style="view-transition-name: {{page.title |  replace: ' ', '_' }};">
                <div id="fnf" class="hidden">
                    <span>File Not Found</span>
                </div>
                <div id="viewer" class="pdfViewer"></div>
            </div>
        </div>
        <!-- mainContainer -->
        <div id="dialogContainer">
            <dialog id="passwordDialog">
                <div class="row">
                    <label for="password" id="passwordText">Enter the password to open this PDF file:</label>
                </div>
                <div class="row">
                    <input type="password" id="password" class="toolbarField" />
                </div>
                <div class="buttonRow">
                    <button id="passwordCancel" class="dialogButton">
                        <span>Cancel</span>
                    </button>
                    <button id="passwordSubmit" class="dialogButton">
                        <span>OK</span>
                    </button>
                </div>
            </dialog>
        </div>
        <!-- dialogContainer -->
    </div>
    <!-- outerContainer -->
</body>
{% assign pageTitleUrl = page.title | replace: " ", "%20" %}
<script>
    let FILE_PATH = "{{ page.pdf | remove: './' }}";
    function downloadPDF() {
        var element = document.createElement('a');
        element.setAttribute('download', FILE_PATH);
        element.setAttribute('href', FILE_PATH);

        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }
    let backUrl =
        "{{ site.baseurl | append:page.url | remove: pageTitleUrl | remove: '/.html' }}";
    function closePage() {
        window.location.href = backUrl;
    }
    let PDF_JS_PATH = "{{site.baseurl}}/vendor/pdfjs";
</script>

</html>