---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div"> & {
  /**
   * Variant of the item media
   * @default "default"
   */
  variant?: "default" | "icon" | "image";
};

export const itemMedia = tv({
  base: [
    "flex shrink-0 items-center justify-center gap-2 [&_svg]:pointer-events-none",
    "group-has-[[data-slot=item-description]]/item:translate-y-0.5 group-has-[[data-slot=item-description]]/item:self-start",
  ],
  variants: {
    variant: {
      default: "bg-transparent",
      icon: "bg-muted size-8 rounded-sm border [&_svg:not([class*='size-'])]:size-4",
      image: "size-10 overflow-hidden rounded-sm [&_img]:size-full [&_img]:object-cover",
    },
  },
  defaultVariants: {
    variant: "default",
  },
});

const { variant = "default", class: className, ...rest } = Astro.props;
---

<div
  class={itemMedia({ variant, class: className })}
  data-slot="item-media"
  data-variant={variant}
  {...rest}
>
  <slot />
</div>
