---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div">;

export const itemTitle = tv({
  base: "flex w-fit items-center gap-2 leading-snug font-medium",
});

const { class: className, ...rest } = Astro.props;
---

<div class={itemTitle({ class: className })} {...rest} data-slot="item-title">
  <slot />
</div>
