---
import type { HTMLAttributes } from "astro/types";

import { itemMedia } from "./variants";

type Props = HTMLAttributes<"div"> & {
  /**
   * Variant of the item media
   * @default "default"
   */
  variant?: "default" | "icon" | "image";
};

const { variant = "default", class: className, ...rest } = Astro.props;
---

<div
  class={itemMedia({ variant, class: className })}
  data-variant={variant}
  {...rest}
  data-slot="item-media"
>
  <slot />
</div>
