---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

interface Props {
	title?: string;
	description?: string;
	frontmatter?: Props;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } =
	Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body
		class="dark:bg-stone-900 dark:text-neutral-300 transition-colors duration-300"
	>
		<Header />
		<div class="main-content">
			<main class="page-content w-full max-w-screen-md mx-auto my-4">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style>
	.page-content {
		padding: 0;
		flex: 1 0 auto;
	}

	.page-content {
		view-transition-name: content;
	}

	.page-content {
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none; /* Standard syntax */
	}

	.main-content {
		overflow: auto !important;
		position: absolute !important;

		top: 80px !important ;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
		scrollbar-gutter: stable both-edges !important;

		display: flex !important;
		flex-flow: column !important;
	}
	.main-content .page-content {
		flex: 1 1 auto;
	}
	.main-content .site-footer {
		flex: 0 1 auto;
	}
</style>
