---
import Header from "@/components/ui/Header.astro";
import BaseLayout, { type Props as BaseLayoutProps } from "./BaseLayout.astro";
import Footer from "@/components/ui/Footer.astro";

export interface Props extends BaseLayoutProps {}
---

<BaseLayout bodyClass="flex flex-col" {...Astro.props}>
	<Header transition:name="page-header" class="flex-none" />

	<main class="flex-auto w-full max-w-5xl mx-auto p-10">
		<slot />
	</main>

	<Footer transition:name="page-footer" class="flex-none" />
</BaseLayout>
