---
import type { HTMLAttributes } from "astro/types";

import { separator } from "./variants";

type Props = Omit<HTMLAttributes<"div">, "role" | "aria-orientation"> & {
  /**
   * The orientation of the separator.
   * @default "horizontal"
   */
  orientation?: "horizontal" | "vertical";
};

const { class: className, orientation = "horizontal", ...rest } = Astro.props;
---

<div
  role="separator"
  aria-orientation={orientation}
  class={separator({ orientation, class: className })}
  {...rest}
  data-slot="separator"
>
</div>
