---
import siteConfig from "@/configs/site.config";
import ThemeSwitcher from "../partials/ThemeSwitcher.astro";
import { base } from "astro:config/server";
import { addForwardSlashAndBaseUrl } from "@/utils/url";
import Dropdown from "@/components/starwind/dropdown";
import { Icon } from "astro-icon/components";
---

<header class="border-b" {...Astro.props}>
	<div
		class="h-full flex items-center justify-between max-w-7xl mx-auto px-10 py-2"
	>
		<div class="text-xl md:text-2xl font-black">
			<a href={base}>{siteConfig.site.title}</a>
		</div>

		<div class="flex flex-row gap-4">
			<nav class="hidden sm:flex flex-row gap-3">
				{
					siteConfig.header.links.map((link) => (
						<a
							href={
								link.type === "external"
									? link.url
									: addForwardSlashAndBaseUrl(link.url)
							}
							target={
								link.type === "external" ? "_blank" : "_self"
							}
						>
							{link.name}
						</a>
					))
				}
			</nav>

			<ThemeSwitcher />

			<Dropdown.Root class="block sm:hidden">
				<Dropdown.Trigger>
					<Icon name="mdi:menu" class="w-4 h-full" />
				</Dropdown.Trigger>
				<Dropdown.Content align="end">
					{
						siteConfig.header.links.map((link) => (
							<Dropdown.Item
								as="a"
								href={
									link.type === "external"
										? link.url
										: addForwardSlashAndBaseUrl(link.url)
								}
								target={
									link.type === "external"
										? "_blank"
										: "_self"
								}
							>
								{link.name}
							</Dropdown.Item>
						))
					}
				</Dropdown.Content>
			</Dropdown.Root>
		</div>
	</div>
</header>
