---
import { Image } from "astro:assets";

import DesktopLight from "@/assets/desk_light.svg";
import DesktopDark from "@/assets/desk_dark.svg";
import MobileLight from "@/assets/mobile_light.svg";
import MobileDark from "@/assets/mobile_dark.svg";
---

<div class="mb-4">
	<a target="_blank" href="https://discord.gg/techgeeksgehu">
		<Image
			src={DesktopLight}
			alt="Banner"
			class="hidden dark:hidden md:block md:dark:hidden w-full h-auto rounded-lg"
		/>
		<Image
			src={DesktopDark}
			alt="Banner"
			class="hidden dark:hidden md:hidden md:dark:block w-full h-auto rounded-lg"
		/>
		<Image
			src={MobileLight}
			alt="Banner"
			class="block dark:hidden md:hidden md:dark:hidden w-full h-auto rounded-lg"
		/>
		<Image
			src={MobileDark}
			alt="Banner"
			class="hidden dark:block md:hidden md:dark:hidden w-full h-auto rounded-lg"
		/>
	</a>
	<span class="text-sm text-gray-500"
		>Banner spots are only available to GEHU clubs</span
	>
</div>
